body {
  color: #434455;
  background-color: #FFFFFF;
  font-family: 'Roboto',  sans-serif;
 
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1158px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
  .feature {
    max-width: 250px;
  }

  .small {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4%;
    line-height: 14px;
  }
  .medium {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color:#434455;
  
  }
  .team-header{
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    color: #2e2f42;
  }
  .feature-header{
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    
  }
  .team-p{
    letter-spacing: 0.02em;
    line-height: 1.5;
  }
  .portfolio-section{

  }
  .hero-header{
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-size: 56px;
  }
  .feature-main-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .portfolio-header{
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    font-weight: 500;
    font-size: 20px;

  }
  .portfolio-h{
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:#2e2f42;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
  }
  .portfolio-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
  }
  .button-text {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 24px;
  }
  .contact{
    font-size: 16px ;
    line-height: 1.5;
    color:#434455;
    text-decoration: none;
    font-family: 'Roboto';
   
    font-weight: 400;
    letter-spacing: 0.02em;
    
  }
  .contact-link{
    color: #434455
  }
 
  .contact-link:focus {
    color: #404bbf;
  }
  .contact-link:hover {
    color: #404bbf;
  }
  .feature-header{
    letter-spacing: 0.02em;
    color: #2E2F42;
  }
  
  .contact-info {
   
    
    text-align: right;
    
  }
  .contact:hover {
    color: #404BBF;
  }
  .logo{
    font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   color: #4d5ae5 ;
    letter-spacing: 0.03em; 
    line-height: 1.17;
    
    font-weight: 700;
    font-size: 18px;
   
    
  }
  .logo-white{
    color: #F4F4FD;
  }
  .logo-blue{
    color: #4D5AE5;
  }
  .logo-black{
    color: #2E2F42;
    
  }
  .main-link{
    color: #2E2F42;
  }
 address{
  font-style: normal;
 }
  .main-link:focus {
    color: #404bbf;
  }
  .main-link:hover {
    color: #404bbf;
  }
  .hero{
    background-color: #2E2F42;
    color:#FFFFFF;
    text-align: center;
    
  }

  
  .btn-primary {
    background-color: #4D5AE5;
    color: #FFFFFF;
   
    border: none;
   
    font-size: 16px;
    cursor:pointer;
  }
  .btn-primary:hover {
    background-color: #404BBF;
  }
  .btn-primary:focus {
    background-color: #404BBF;
  }
  .features {
    
    
   
    justify-content: space-between;
  }
  .team-card{
    
    background-color: #FFFFFF;
justify-content: center;
text-align: center;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;

  }
  .team{
   
    justify-content: center;
    
    
  }
  .team-card-img{
   
   
    object-fit: cover;
    object-position: top center;
    
  }
  .gray-text{
    color:#434455;
  }
  .team-section h2{
    text-align: center;
    padding-bottom: 36px;
  }
  
  .team-section {
    background-color: #F4F4FD;
   
  }
  .app-footer {
    background-color: #2E2F42;
    color:#F4F4FD;
    
    
  }
  .footer-p {
    max-width: 264px;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }